.progress-indicator {
    height: 30px;
    width: 600px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    left: 30px;
    display: flex;
    .step {
        flex-basis: 100%;
        position: relative;
        p {
            margin: 0;
        }
        .line {
            width: 100%;
            height: 4px;
            background-color: rgb(240,247,255);
            position: absolute;
            top: calc(~"20px - 2px");
        }
        &:last-of-type {
            flex-basis: 0;
            .line {
                width: 0%;
            }
        }
        .step-number {
            padding: 10px;
            background-color: rgb(240,247,255);
            border-radius: 50%;
            height: 40px;
            width: 40px;
            position: absolute;
            left: 0;
            color: black;
            border: 2px solid rgba(0, 0, 0, 0.1);
            text-align: center;
            cursor: pointer;
        }
        .step-description {
            position: relative;
            top: 50px;
            left: -30px;
            text-align: center;
            width: 100px;
        }
        &.completed {
            .line {
                background-color: rgb(38,22,110);
            }
            .step-number {
                background-color: rgb(38,22,110);
                color: white;

                &:hover {
                    border-color: white;
                }
            }
        }
        &.current {
            .step-number {
                border-color: rgb(38,22,110);
            }
        }
    }
}