.course-overview {
    padding-right: 20px;
    .headline {
        padding-left: 50px;
        text-align: center;
        font-size: 1.3em;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .overview {
        display: flex;
        width: 100%;
        max-width: 700px;
        flex-basis: 600px;
        position: relative;
        .year-description {
            margin-top: 40px;
            .year {
                display: flex;
                height: 100px;
                justify-content: center;
                align-items: center;
                width: 50px;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 12px;
                margin-bottom: 15px;
                position: relative;
            }
        }
        .semester-description {
            position: absolute;
            width: 100%;
            top: 15px;
            .semester-header {
                width: 100%;
                margin-bottom: 113px;
                text-align: center;
                font-size: 0.8em;
            }
        }
        .semester-headline {
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            margin-bottom: 20px;
        }
        .semester {
            width: 50%;
            position: relative;
            &.fall {
                margin-right: 15px;
            }
            .course {
                border: 1px solid grey, 1px solid transparent;
                float: left;
                height: 100px;
                overflow: hidden;
                padding: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                margin: 1px;
                position: relative;
                margin-bottom: 25px;
                &.can-be-removed {
                    cursor: pointer;
                    border: 1px solid rgba(38, 22, 110, 0.5);
                    &:after {
                        content: '✕';
                        position: absolute;
                        right: 8px;
                        top: 8px;
                        font-size: 10px;
                    }
                    &:hover {
                        background-color: rgb(38, 22, 110);
                        color: white;
                    }
                }
                .name {
                    font-size: 12px;
                    margin: 0px;
                    width: 100%;
                    text-align: center;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-bottom: 1px;
                }
                &.half {
                    width: calc(~"50% - 2px");
                }
                &.quart {
                    width: calc(~"25% - 2px");
                }
            }
        }
    }
    &.disabled {
        position: relative;
        opacity: 0.4;
    }
}